<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pokemon Simulator</h1>
   <!-- https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png -->
    <% for (let i = 0; i < pokeData.length; i++){%>
        <p> <%= JSON.stringify(pokeData[i].name).replace(/\"/g, "") %>    </p>
        <!-- <img src="JSON.stringify(pokeData[i].sprites) %>">     </img> -->
        <img src="<%= JSON.stringify(pokeData[i].sprites).replace(/\"/g, "") %>"></img>
        <%} %>

</html>